@charset "utf-8";
/* CSS Document */

body{width: 1200px;margin: 0 auto;}

*{list-style: none;margin:0;padding:0;}

a:link {color:#FFFFFF;text-decoration: none;}/*点击前的状态*/

a:hover{color:lightslategray;}/*鼠标移动端链接时候的状态*/

a:visited{color: aliceblue;}/*鼠标点击后的状态*/

a:active{color:lavender;}

.top{position: absolute;position: fixed;z-index: 10;color:darkgrey;width:1200px;
	height: 40px;background-color:cornflowerblue;border-radius: 15px;outline: none;}/*导航栏属性*/

.top li{line-height: 40px;width: 188px;float:left;}/*导航栏属性*/

.top ul li ul li{background-color:cornflowerblue;border-radius: 15px;outline: none;border-top: 1px solid 
	#FFFFFF;text-align: center;}

.top ul li{position: relative;}

.TitleLink{ font-family: "微软雅黑";}/*导航栏字体*/

.top form{line-height: 40px;}

.top ul li ul{position: absolute;left:-60px;}/*二级菜单设置样式结束*/
		
.top ul li ul{display: none;}/*二级菜单的显示和隐藏开始*/
		
.top ul li:hover ul{display: block;}/*二级菜单的显示和隐藏结束*/

.level{border-top: 5px solid black;width:80%;margin:auto;}/*水平分割线*/
		
.footertext{font-family:"中易宋体";text-align: center;font-size: 15px;margin-top:auto;margin-top: 1400px;}/*页脚属性*/
        
.title{text-align: center;font-size: 25px;color: cadetblue;font-family: fantasy;padding-top: 40px;}
		

		
.search{width: 170px;height: 30px;border-radius: 15px;outline: none;border: 1px solid #ccc;
			padding-left: 20px;position: absolute;top: 4px;}/*搜索框属性*/

.parent {position: relative;}
.Allcontent{width: auto;margin-left: 0%;margin-right: 0%;background-color: hsla(0,4%,95%,0.76);}/*全局属性*/
.first{background:rgba(255,204,51, 0.2);float:left;width:45%;border: #B17E7F;margin-top: 10px;border-radius: 15px;outline: none;margin-left: 40px;}/*左边*/

.img-x{text-align: center;}

.second {background:lavender;float:left;width:45%;margin-top: 10px;border-radius: 15px;outline: none;margin-left: 40px;}/*右边*/

.title{text-align: center;color: aliceblue;font-family: "楷体", "隶书", "迷你简黑体";background: #1F72B7;padding-top: 50px;border-radius: 20px;outline: none;}/*标题*/

.text {text-align:center;font-family: "楷体", "隶书", "迷你简黑体";font-size:25px;}

.text-t{text-indent: 2em;font-family: "楷书";text-align:left}
